<#@ template language="C#" inherits="Eleven.VS.Templates.Ado.Dsl.Util.CodeGeneratorBase" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="Eleven.VS.Templates.Ado.Package.TextTemplates.Helper" #>
<#@ import namespace="Eleven.VS.Templates.Ado.Dsl.Util" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
CREATE SCHEMA [<#= DatabaseSchema.Name #>]
    AUTHORIZATION [<#= DatabaseSchema.Owner #>];