<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Eleven.VS.Templates.Ado.Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("d7203678-101c-4c12-8e9d-01ab6fb961f6");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
